
 *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
     font-family: roboto , sans-serif;
     list-style:none;
     }

    header{
      width:100%;
      height: 90vh;
      background-image: url(./img/star-uó-topo.png);
      background-repeat: no-repeat;
      background-size: 100%;
      
    }
    .cabecalho{
        width:100%;
        height: 100%;
        position: relative;
    }
    .star-wars{
        width:70%;
        height: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
             
    }
    .star-wars img.star{
      width: 23%;
      position: absolute;
      top: 56%;
      left: 23%;
    }
    .star-wars img.wars{
      width: 23%;
      position: absolute;
      top: 56%;
      right: 5%;

    }

    .kylo{
      width: 80%;
      height: 115%;
      position: absolute;
      top: 5%;
      left: 9%;
         
  
    }
    .kylo-legiao img.legiao{
      width: 8%;
      position: absolute;
      top: 78%;
      left: 85%;
    }

  
    .vermelho-nav{
      width: 100%;
      height: 380vh;         
          background-image: url(./img/sta\ uo\ robot@2x.png);
      background-repeat: no-repeat;
      background-size: 40%; 
    
    }
    .vermelho-jogo{
      width: 100%;
      height: 30%; 
      display: flex;
      position: relative;
      bottom: 5%;
     
      

    }
    .vermelho-jogo img.vermelho{
      width:20%;
      height:50%;
      position: absolute;
      bottom:38%;
      left: 17%;
      
    }
    .vermelho-jogo img.jogo{
      width: 40%;
      height: 22%;
      position: absolute;
      bottom: 38%;
      right: 7%;

    }
    .personagem-nav{
      width:60%;
      height: 50%;
      position: relative;
      left: 29%;   
      bottom: 10%; 
      display:flex;
      justify-content: space-around;
      border-top: 25px gray solid;

    }
        
     .person {
      width:60%;
      height: 50%;   
    
     }
   
    h1{  
      width:70%;
      text-align: end;
      font-size:150px;
      font-weight:normal;
      margin-bottom:90px;
    }
    nav{
       width:45%;
       height: auto;
       position:absolute;
      left:25%;      
     
    }
    li{
      font-size:65px;
      text-align: end;  
      margin-bottom:70px;
        

    }
    li:hover{
      background-color:red;
    }
    main{
      
      width: 100%;
      height: 4%;
      
      
    }
    footer{
      background-color: tomato;
    }