
*{
padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: roboto , sans-serif;
 list-style:none;
 }
body{
       width: 100%;
       height: 230vh;
     }
header{
      width:100%;
      height: 90vh;
      background-image: url(./img/star-topo.png);
      background-repeat: no-repeat;
      background-size: 100%;      
    }
    a{
      color:#ffffff;    
      text-decoration: none;
    }
.cabecalho{
        width:100%;
        height: 100%;
        position: relative;
    }
.star-wars{
  width:70%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;       
}
.star-wars img.star{
      width: 23%;
      position: absolute;
      top: 56%;
      left: 23%;
    }
.star-wars img.wars{
      width: 23%;
      position: absolute;
      top: 56%;
      right: 5%;

    }
.kylo{
      width: 80%;
      height: 115%;
      position: absolute;
      top: 5%;
      left: 9%;        
}
.legiao{
      width: 10%;
      height: 20%;
      position: absolute;
      top: 78%;
      left: 85%;   
    }
   .legiao-p{
     width: 100%;
     height: 22%;
     font-size: 20px;    
   }
   .legiao-hr{
     width: 80%;
    margin: 6% 0;
    height:2%;
  background-color:black;
   }
   .seta{
     width: 8%;
     text-align: center;
     background-color: grey;
     font-size: 80%;
     font-weight: 900;
     cursor: pointer;
   }  
.vermelho-jogo{
      width: 100%;
      height: 130vh;         
      background-image: url(./img/sta\ uo\ robot.png);
      background-repeat: no-repeat;
      background-size:40%; 
    }
    .vermelho{
      width: 20%;
      height: 50%; 
      background-image: url(./img/strom\ trupe\ red.png);
      background-repeat: no-repeat;
      background-size: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      bottom: 1%;
      left: 15%;      
    }
    .comece{
      display:flex;
      align-items:center;
      justify-content:center;
      text-align: center;
      width: 100%;
      height:50%;
      font-size:35px;
      color: #ffffff;          
      
    }

    .baixe{
      width: 90%;
      font-size: 80%;
      color: #ffffff;
      padding: 0 0 0 10%;    
    }
    .btn-comece{
      width: 50%;
      height: 10%;
      text-align: center;
      color: #ffffff;
      margin:  10% 25%;
      border: #ffffff solid;
      border-radius: 20% ;
      background-color: transparent;     
      }
 .btn-comece:hover{
        cursor: pointer;
        transition: box-shadow 5s;
        box-shadow: inset  20vw 0  magenta;
       }
  .atualizacao{
     font-size: 12px;
     color: silver;
     width:90%;
    font-size: 10px;
    text-align:end;
    color: silver;
       }

    .jogo{
      width: 30%;
      height: 35%;
      position: absolute;
      top: 120%;
      right: 1%;    
}
    .jogo img{
      width: 90%;
      height: 90%;
    }
    .personagem-nav{
      width: 70%;
      height: 90%;
      position: relative; 
      bottom: 68%; 
      left: 20%;
      display:flex;
      justify-content: space-between;   
    }
    
    .sobre{
      width: 25%;     
     position: absolute;
     top: 128%;
     right: 32%;
    }
    .battlefront{
      width:99%;
      font-size: 16px;
     text-align: end;
    }  
     .hr-sobre{
     width: 30%;     
     margin: 5% 0 5% 70%; 
     height:20%;
     background-color:black;
   }
h1{
      text-align: end;
      margin-bottom: 5%;   
     }       
.persona img{
      width:100%;
      height:100%;  
    
    }
.person-hr{
      width: 190%;
      margin-bottom:2%;
      height:1%;
  background-color:black;
    }
      
   
.estrutura{  
      width:20%;
      text-align: end;       
      margin-bottom:30px;
      position: absolute;
      top: 5%;
      right: 30%;
      font-size: 40px;
      }
span{
      font-weight: 900;
    }
nav{
       width:35%;
       height: 55%;
       position:absolute;
       top: 25%;
       left:35%; 
      }
li{
  width:100%;
   font-size:20px;
      text-align: end;  
      margin-bottom:15px;       
    }
    li:hover{
      background-color:tomato;
    }
    main{
      
      width: 100%;
      height: 200vh;
     background-color: DimGrey;
      position: relative;
      top: 56.5%;
      z-index: -2;   
    }
    .atributos{
      font-size: 35px;
      font-weight: 900;
      color: #ffffff;
      position: absolute;
      left: 20%;
      top: 10%;      
    }
    
    .batalhas{
      width: 80%;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;   
      position: relative;
      top: 15%;
      left: 10%;         
   }
      
  .mayor {
    width:50%;
    height:85%;   
    position: absolute;  
    left:1%;
    top: 6%;
   }
  .mayor:hover{
    background-image: url(./img/urn_aaid_sc_US_aaf75fc2-eba3-41ec-bc48-de80d0615154.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .ma1{
    position: absolute;
    bottom: 52%;
    right: 25%;
    width:24%;
 }
  .ma1:hover{
    background-image: url(./img/urn_aaid_sc_US_aaf75fc2-eba3-41ec-bc48-de80d0615154.png);
    background-repeat: no-repeat;
    background-size: 100%;
 }
  .ma2{
    position: absolute;
    bottom: 52%;
    left: 75%;
    width: 24%;
 }
  .ma2:hover{
    background-image: url(./img/urn_aaid_sc_US_aaf75fc2-eba3-41ec-bc48-de80d0615154.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
  .ma3{
    position: absolute;
    top: 48%;
    right: 25%;
    width: 24%;
  }
  .ma3:hover{
    background-image: url(./img/urn_aaid_sc_US_aaf75fc2-eba3-41ec-bc48-de80d0615154.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
  .ma4{
    position: absolute;
    top: 48%;
    left:75%;
    width: 24%;
  }
  .ma4:hover{
    background-image: url(./img/urn_aaid_sc_US_aaf75fc2-eba3-41ec-bc48-de80d0615154.png);
    background-repeat: no-repeat;
    background-size: 100%;     
}
.hierarquia{
      width: 80%;   
      height: 38%;   
      position: absolute;
      left: 10%;     
      top: 45%; 
 }
 .hierarquia img{
      width: 100%;
      height: 100%;
 }
    

 .fig-hierarquia{
      width:48%;
      text-align: end;  
      font-size: 10px;   
      position: absolute;
      left: 42%;
      color: #ffffff;
 }
.como{
  width: 80%;
  height: 80%;
  padding: 15%;
  text-align: end;
font-size: 35px;
font-weight: 900;
  color: #ffffff;
}
.end-main{
  width: 80%;
  height: 95%;
  display: flex;
  position: absolute;
  top: 85%;
  left: 15%; 
  border: regd solid;
}
.capa-preta{
  width: 50%;
  height: 40%;
  display: flex;
}
.escolher{
  width: 90%;
  height: 40%;
  display: flex;
 justify-content:space-evenly;
  align-items: flex-end; 
}

.explorar{
  width: 35%;
  height: 55%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column; 
 } 
h3{
  font-size: 35px;
  margin-bottom:35%;
  font-weight: normal;   
 }
.escolher-donw{
  width: 70%;
  height: 20%;
  text-align: center;
  color: #ffffff;
 background-color: black;
}
.escolher-donw:hover{
  cursor: pointer; 
  transition: box-shadow 5s;
  box-shadow: inset  20vw 0  red;
 }
 .hr-escolher-donw{
  width:40%;
  height:2%;
  background-color:black;
}
.text-escolher{
  width: 40%;
  height: 20%;
  font-size: 15px;
  text-align: center;
 }
 footer{
   width: 100%;
   height: 38%;
   border: rd solid;
   position: relative;
   top: 85%;
}
 .footer-app{
   width: 50%;
   height: 100%;
  background-color: rgba(235, 101, 48, 0.753);
  position: relative;
} 
.app-texto{
  width: 95%;
  height: 95%;
  padding: 15%;
}
.app{
  width: 50%;
  height: 13%;
  font-size: 30px;  
  margin-bottom: 3%;
  color: #ffffff; 
  font-weight: 900;
}
.footer-hr{
  margin: 5% 0;
  width: 80%;
  height:2%;
  background-color:tomato;
}
.texto{
  width: 85%;
  font-size: 10px;    
  color: #ffffff;
}
.baixar{
  width: 80%;
  height: 13%;
  margin-top: 5%;
  display: flex;
justify-content: space-between;
}
.baixar img{
  width: 100%;
  height: 100%;  
}
.baixar-play{
  border-radius: 12%;
  cursor: pointer;
}
.esta{
 
  width: 45%;
  height: 30%;
  margin: 10% 0 5% 0;
  display: flex;
}
.darth{
  width: 30%;
  height: 100%;
  position: absolute;
  bottom: 15%;
  left: 40%;
 display: flex;
}
.fig-darth{
  color:black;
  width:100%;
  text-align: end;  
  font-size: 10px;   
  position: absolute;
  top:100%;
  left: 60%;
}
@media(max-width: 600px) {
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 font-family: roboto , sans-serif;
 list-style:none;
 }
 body{
   width: 100%;
   height: 230vh;
 }
header{
  width:100%;
  height: 48vh;
  background-image: url(./img/star-topo.png);
  background-repeat: no-repeat;
  background-size: 100%; 
}
.cabecalho{
    width:100%;
    height: 100%;
    position: relative;
}
.star-wars{
    width:70%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;         
}
.star-wars img.star{
  width: 21%;
  position: absolute;
  top: 55%;
  left: 20%;
}
.star-wars img.wars{
  width: 21%;
  position: absolute;
  top: 55%;
  right: 14%;
}
.kylo{
  width: 70%;
  height: 100%;
  position: absolute; 
  top: 10%;
  left: 9%;
 }
.legiao{
  width: 15%;
  height: 30%;
  position: absolute;
  top: 78%;
  left: 84%;
}
.legiao-p{
 width: 100%;
 height: 22%;
 font-size: 10px;
}
.legiao-hr{
 width: 80%;
margin: 6% 0;
height:2%;
background-color:black;
}
.seta{
 width: 15%;
 text-align: center;
 background-color: grey;
 font-size: 80%;
 font-weight: 900;
 cursor: pointer;
}
.vermelho-jogo{
  width: 100%;
  height: 130vh;         
  background-image: url(./img/sta\ uo\ robot.png);
  background-repeat: no-repeat;
  background-size:60%; 
  display: flex;
justify-content: flex-end;
position: relative;
z-index: -2;
}
.vermelho{
  width: 50%;
  height: 60%; 
  background-image: url(./img/strom\ trupe\ red.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 30%;
  left:45%;       
}
.comece{
  text-align: center;
  width: 100%;
  height: 50%;
  color: #ffffff;     
 display: flex;

}
.baixe{
  width: 90%;
  font-size: 80%;
  color: #ffffff;
  padding: 0 0 0 10%;
}

.jogo{
  width: 55%;
  height: 35%;
  position: absolute;
  top: 75%;
}
.jogo img{
  width: 90%;
  height: 90%;
}
.personagem-nav{
  width: 90%;
  height: 120%;
  position: relative; 
  top: 95%; 
  left: 10%;
  display:flex;
  justify-content: space-between;   
}
.sobre{
  width: 45%;     
 position: absolute;
 top: 110%;
 right: 7%;
}
.battlefront{
  font-size: 13px;
 text-align: end;
}  
 .hr-sobre{
 width: 30%;
 size: 15px;
 margin: 5% 0 5% 70%;    
 height:20%;
background-color:black;
}
h1{
  text-align: end;
  margin-bottom: 5%;   
 }
   
.persona img{
  width:100%;
  height:100%;  
}
.person-hr{
  width: 160%;
  height:1%;
  background-color:black;
} 
.estrutura{  
  width:30%;
   text-align: end;       
  margin-left: 10%;
  font-size: 22px;
  font-weight: 600;
  position:absolute;
   top: 5%;
   right:25%; 
 }
span{
  font-weight: 900;
}
nav{
   width:45%;
   height: 20%;
   position:absolute;
   top: 25%;
   left:30%;     
 }
li{
  font-size:12px;
  text-align: end;
}
li:hover{
  background-color:tomato;
}
main{
  width: 100%;
  height: 380vh;
 background-color: DimGrey;
  position: relative;
  top: 96%;
  z-index: -2;
  display: flex;        
}
.atributos{
  font-size: 35px;
  font-weight: 900;
  color: #ffffff;
  position: absolute;
  left: 20%;
  top: 3.5%;  
}
.batalhas{
  width: 90%;
  height: 65%;  
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;   
  top: 7%;
}  
.mayor{
width:95%;
height:20%; 
display: flex;
flex-direction: column;
position: absolute;
top: 1%;
}
.mayor:hover{
background-image: url(./img/urn_aaid_sc_US_aaf75fc2-eba3-41ec-bc48-de80d0615154.png);
background-repeat: no-repeat;
background-size: 100%;
}
.ma1{
  width: 95%;
  height: 20%;
  position: absolute;
  left: 1%;
  top: 21%;
}
.ma1:hover{
background-image: url(./img/urn_aaid_sc_US_aaf75fc2-eba3-41ec-bc48-de80d0615154.png);
background-repeat: no-repeat;
background-size: 100%;
}
.ma2{
  width: 95%;
  height: 20%;
  position: absolute;
  left: 1%;
  top: 41%;
}
.ma2:hover{
background-image: url(./img/urn_aaid_sc_US_aaf75fc2-eba3-41ec-bc48-de80d0615154.png);
background-repeat: no-repeat;
background-size: 100%;  
}
.ma3{
  width: 95%;
  height: 20%;
  position: absolute;
  left: 1%;
  top:61%;
}
.ma3:hover{
background-image: url(./img/urn_aaid_sc_US_aaf75fc2-eba3-41ec-bc48-de80d0615154.png);
background-repeat: no-repeat;
background-size: 100%;
}
.ma4{
  width: 95%;
  height: 20%;
  position: absolute;
  left: 1%;
  top:81%;
}
.ma4:hover{
background-image: url(./img/urn_aaid_sc_US_aaf75fc2-eba3-41ec-bc48-de80d0615154.png);
background-repeat: no-repeat;
background-size: 100%;     
}
.hierarquia{
  width: 85%;   
  height: 18%;   
  position: absolute;
  left: 10%;     
  top: 74%; 
}
.hierarquia img{
  width: 100%;
  height: 100%;
}
.fig-hierarquia{
  width:48%;
  text-align: end;  
  font-size: 10px;   
  position: absolute;
  left: 50%;
  color: #ffffff;
}
.como{
width: 80%;
height: 80%;
padding: 15%;
text-align: end;
font-size: 35px;
font-weight: 900;
color: #ffffff;
}
.end-main{
width: 99%;
height: 35%;
position: absolute;
top: 100%;
left: auto;
}
.capa-preta{
width: 40%;
height: 100%;
position: absolute;
right: 85%;
}
.escolher{
width: 80%;
height: 100%;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: flex-end;

}
.explorar{
width: 55%;
height: 50%;

}
h3{
font-size: 35px;
margin-top:5%;
margin-bottom:8%;
font-weight: normal;   
}
.escolher-donw{
width: 60%;
height: 20%;
text-align: center;
color: #ffffff;
background-color: black;
}
.escolher-donw:hover{
cursor: pointer; 
transition: box-shadow 13s;
box-shadow: inset  30vw 0  red;
}
.text-escolher{
width: 40%;
height: 20%;
font-size: 15px;
text-align: center;
}
footer{
width: 100%;
height: 88%;
position: relative;
top:155%;
display: flex;
flex-direction: column;  
}
.footer-app{
width: 100%;
height: 70%;
background-color: rgba(235, 101, 48, 0.753);
position: relative;        
} 
.app-texto{
width: 95%;
height: 95%;
padding-left: 20%;
}
.app{
width: 50%;
height: 13%;
font-size: 25px;  
color: #ffffff; 
font-weight: 900; 
}
.footer-hr{
margin: 5% 0;
width: 90%;
height:1%;
background-color:tomato;
}
.texto{
width: 85%;
font-size: 10px;    
color: #ffffff;
}
.baixar{
width: 90%;
height: 10%;
margin-top: 5%;
display: flex;
justify-content: space-between;
}
.baixar img{
width: 100%;
height: 100%;
}
.baixar-play{
  width:45%;
  border-radius: 12%;
  cursor: pointer;
}
.esta{
height: 20%;
margin: 5% 0 5% 0;
}
.darth{  
  width: 45%;
  height: 50%;
align-self: flex-end;
position: absolute;
top: 47%;
left: 10%;
}
.fig-darth{
  color:black;
  width:100%;
  text-align: end;  
  font-size: 10px;   
  position: absolute;
  left: 50%;
  }

}
@media(max-width: 250px) {

header{
  width:100%;
  height: 30vh;
  background-image: url(./img/star-topo.png);
  background-repeat: no-repeat;
  background-size: 120%; 
}
.cabecalho{
    width:100%;
    height: 91%;
    position: relative;
    left: 2%;
}

.kylo{
  width: 70%;
  height:114%;
}
.legiao{
  width: 22%;
  height: 35%;
  position: absolute;
  top: 67%;
  left: 75%;
}
.legiao-p{
 width: 100%;
 height: 25%;
 font-size: 7px;
}
.vermelho-jogo{
  width: 100%;
  height: 100vh;         
  background-image: url(./img/sta\ uo\ robot.png);
  background-repeat: no-repeat;
  background-size:90%;
position: relative;
right: 10%;
bottom: 30%;
}
.vermelho{
  width: 65%;
  height: 55%; 
  background-image: url(./img/strom\ trupe\ red.png);
  background-repeat: no-repeat;
  background-size:95%;
  display: flex;
  flex-direction: column;
  position: absolute;
     
}
.comece{
  text-align: center;
  width: 100%;
  height: 45%;
  color: #ffffff;    
  font-size: 20px; 
 
}
.baixe{
  width: 95%;
  font-size: 50%;
  color: #ffffff;
 
}

.jogo{
  width: 65%;
  height: 25%;
  position: absolute;
  left:45%; 
 
}
.personagem-nav{
  width: 90%;
  height: 120%;
  position: relative; 
  top: 95%; 
  left: 10%;
  display:flex;
  justify-content: space-between;   
}
.sobre{
  width:90%;     
 position: absolute;
 top: 100%;
 left:15%;
 
}
.battlefront{
  font-size: 8px;
 text-align: end;
}  

h1{
  text-align: end;
  margin-left:40%;   
width: 60%; 
 }
   
.persona img{
  width:90%;
  height:100%;  
}
.person-hr{
  width:30vh;
  height:1%;
  background-color:black;
} 
.estrutura{  
 width:30%;
   text-align: end;       
  margin-left: 10%;
  font-size: 12px; 
  
 }
li{
  font-size:5px;
  text-align: end;
}
main{
  width: 100%;
  height: 380vh;
 background-color: DimGrey;
  position: relative;
  top: 69%;
  display: flex;        
}
.atributos{
  font-size: 25px;
  font-weight: 900;
  color: #ffffff;
  position: absolute;
  left: 20%;   
  
}
.fig-hierarquia{
  width:90%; 
  font-size: 5px;   
  position: absolute;
  left: 10%;
    
}
.como{
width: 80%;
height: 20%;
text-align: end;
font-size: 20px; 
}
.end-main{
width: 100%;
height: 30%;

}
.capa-preta{
width: 40%;
height: 100%;
position: absolute;
right:125%;
border: solid;  
}
.escolher{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: flex-end;
border: solid;  

}
.explorar{
width: 55%;
height: 30%;

}
h3{
font-size: 20px;
margin-top:5%;
margin-bottom:8%;
font-weight: normal;   
}
.escolher-donw{
width: 60%;
height: 15%;
text-align: center;
color: #ffffff;
background-color: black;
}
.escolher-donw:hover{
cursor: pointer; 
transition: box-shadow 13s;
box-shadow: inset  30vw 0  red;
}
.text-escolher{
width: 40%;
height: 20%;
font-size: 8px;
text-align: center;
}
footer{
width: 100%;
height: 58%;
position: relative;
top:120%;
display: flex;
flex-direction: column; 
}
.footer-app{
width: 100%;
height: 70%;
background-color: rgba(235, 101, 48, 0.753);
position: relative;        
} 
.footer-hr{
margin: 5% 0;
width: 100%;
height:1%;
background-color:tomato;
}
.texto{
width: 85%;
font-size: 8px;    
color: #ffffff;
}

.darth{  
  width: 45%;
  height: 40%;
align-self: flex-end;
position: absolute;
top: 55%;
left: 10%;
}
.fig-darth{
  color:black;
  width:100%;
  text-align: end;  
  font-size: 5px;   
  position: absolute;
  left: 50%;
  }

